/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-10-2022, 11:30:01
    Author     : Andreas Hansen
*/

#pane {
    -fx-background-image: url(../images/background.jpg);
    -fx-background-repeat: stretch;   
    -fx-background-position: center;
}
.button
{
    -fx-background-color: rgba(185, 185, 185, 0.45);
    -fx-font-weight: bold;
    -fx-font-style: oblique;
    -fx-font-size: 20;
}

.startNewGameButton
{
    -fx-font-style: oblique;
    -fx-font-weight: bold;
    -fx-background-color: rgba(105, 245, 99, 0.39);
}